.signin {
    display: inline-block;
    border: 1px solid gray;
    color: #065fd4;
    padding: 10px 20px;
    border-radius: 24px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .signin:hover {
    background-color: #bee0fd;
    border: 1px solid transparent;
  }

  .signout {
    background-color: transparent;
    border: solid;
    border-radius: 24px;
    padding: 5px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .signout:hover {
    background-color: #bee0fd;
    /* border: 1px solid transparent; */
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .avatar:hover{
    cursor: pointer;
  }

  .dropDownMenu {
    position: absolute;
    /* top: 50px; */
    right: 1rem;
    width: auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
    /* padding: 10px; */
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    word-wrap: break-word;
  }

  .dropDownItem_container {
    list-style-type: none;
    padding: 10px;
    margin: 0px;
  }

  .dropDownItem {
    padding-top: 10px;
  }

  .dropDownSignout {
    text-align: center;
    padding-top: 10px;
  }
